body {
  font-family: "Roboto", sans-serif;
  color: #373956;
}
.container-fluid {
  font-size: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
/*Custom Styles*/
.section-paragraph {
  font-size: 18px;
}

.team-tittle {
  display: flex;
  justify-content: center;
}

.team-tittle-category {
  display: flex;
  justify-content: center;
  color: #1777a5 !important;
  padding-bottom: 5%;
}

.row-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-networks {
  padding-top: 10%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-hubspot {
  display: flex;
  background-color: #f1785c;
  border: 1px solid #f1785c;
  color: white;
  font-size: 18px;
  justify-content: center;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  height: 50px;
}

.button-linkedin {
  display: flex;
  background-color: #0077b5;
  border: 1px solid #0077b5;
  color: white;
  font-size: 18px;
  justify-content: center;
  width: 150px;
  margin: auto;
  border-radius: 10px;
  height: 50px;
}

.team-container {
  background-color: #f4f9fc;
  border-radius: 400px;
  padding-top: 5%;
}

.container-contrataciones {
  display: flex;
  justify-content: center;
  width: 80%;
}

/**/
.main-info {
  font-size: 25px;
  margin-right: -70%;
}

h6 {
  font-size: 18px;
}

.slide01 {
  background-image: url("img/slideshow-00.jpg");
}
.slide02 {
  background-image: url("img/slideshow-01.jpg");
}
.slide03 {
  background-image: url("img/slideshow-03.jpg");
}

/*@keyframes slideBg {
    0% { background-image: url("img/slideshow-01.jpg"); }

    25% { background-image: url("img/slideshow-03.jpg"); }
}*/
/*home*/

/*.carousel .item:nth-of-type(2) {transition:.7s ease-in-out opacity;}*/
.navbar-default {
  max-width: 100%;
  padding-left: 5px;
  margin: 0 auto;
}
.carousel-control {
  background-image: none !important;
}
/* Fade controls with items */
.next.left,
.prev.right {
  opacity: 1;
  z-index: 1;
}
.active.left,
.active.right {
  opacity: 0;
  z-index: 2;
}
#carouselhome {
  margin: 0 auto;
}
#carouselhome .item {
  min-height: 990px;
  background-color: #fff;
  background-position: 0 1px;
  padding-top: 0;
  text-align: left;
  background-size: cover;
}

.center {
  margin: auto auto;
  float: none !important;
}
#carouselhome article {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 65px 0 0;
}

/* Fade transition for carousel items */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.carousel.carousel-fade .active.item {
  opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.col-fluid {
  padding-right: 0px;
}
.servicio-right {
  text-align: center;
}
.servicio-right h2 {
  font-weight: bold;
}
.imagenes-server {
  margin: auto;
  display: block;
}
.servicio-pad {
  margin-bottom: 120px;
}
.boton-brochure {
  width: 150px;
  background: #ffffff;
  border-color: #00b1bd;
  border-radius: 20px;
  font-size: 12px;
  color: #00b1bd;
  font-weight: bold;
  height: 37px;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  transition-duration: 1s, 2s;
}
.boton-brochure:hover {
  width: 150px;
  background: #00b1bd;
  border-color: #fff;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  height: 37px;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  transition-duration: 1s, 2s;
}
.margin-bot {
  margin-bottom: 30px;
}
.semi-circulo-2 {
  width: 1050px;
  height: 800px;
  background: #f4f9fc;
  border-radius: 8000px;
  position: relative;
  top: 0;
  margin: 1px 5%;
}
.img-man {
  float: right;
}
.class-h2 {
  font-weight: bold;
  margin-bottom: 40px;
  color: #373956 !important;
}
.text-mision-v {
  margin-top: 0px;
  font-size: 17px;
  font-weight: bold;
  color: #373956 !important;
}
.text-p {
  font-size: 14px;
  max-width: 500px;
  color: #373956 !important;
}
.navbar-nav {
  font-size: 15px !important;
}
.text-p-small {
  font-size: 12px;
  max-width: 340px;
  color: #373956 !important;
}
.navbar-default .navbar-nav > li > a {
  color: #373956 !important;
}
.content {
  padding: 180px;
  padding-left: 200px;
}
.text-red {
  color: #ff4b3e;
}
.btn-ver-mas {
  background: #f4f9fc;
  border-color: #00b1bd;
  border-radius: 20px;
  font-size: 12px;
  color: #00b1bd;
  font-weight: bold;
  float: left;
  margin-top: 50px;
  transition-duration: 1s, 2s;
  padding: 8px 13px;
}

.btn-ver-mas:hover {
  background: #00b1bd;
  border-color: #00b1bd;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  float: left;
  margin-top: 50px;
  transition-duration: 1s, 2s;
  padding: 8px 13px;
}

.cuadros {
  background: #ffffff;
  border-radius: 5px;
  height: 100%;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(166, 166, 166, 1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(166, 166, 166, 1);
  box-shadow: 0px 0px 25px -6px rgba(166, 166, 166, 1);
  z-index: 1000;
}
.data {
  margin-top: 100px;
}
.padd {
  padding: 10px;
}
.padd h3 {
  color: #00b1bd;
  font-weight: bold;
}
.padd p {
  font-size: 12px;
}
.visionpp {
  background-image: url("img/man-smart.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px;
  background-position-y: 0%;
}

.footerbot {
  height: auto;
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
  margin-top: 300px;
  background-size: cover;
  padding-top: 400px;
}
.foot {
  padding-top: 180px;
}
.form-control {
  border-radius: 20px;
  height: 40px;
}
.btn-enviar {
  background-color: #0ed06d;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  float: left;
}
.h2-f {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.menu-foot {
  padding: 5px;
  font-size: 10px;
}
.menu-foot li {
  list-style: none;
  display: inline;
  margin: 0 12px 0 12px;
}
.logo-foot {
  margin-top: 250px;
  color: white;
}
.log-ffot {
  width: 150px;
}
.navbar-default {
  color: gray;
  font-weight: bold;
  padding-top: 50px;
  padding-right: 0;
  background: none;
  border: none;
}
.navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}
.icon-bar {
  background-color: white !important;
}
.navbar-brand {
  padding: 0;
}
.head-h1 {
  padding-top: 50%;
  font-size: 50px;
  font-weight: bold;
}
.btn-leer-mas {
  background-color: #0ed06d;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 130px;
  height: 35px;
  font-weight: bold;
  float: left;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.goUp {
  position: fixed;
  width: 50px;
  top: 2%;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.bground1 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/andresMuniz.png");
  display: block;
}

.bground2 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/alvaroMuniz.png");
  display: block;
}

.bground3 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/kellyTuirán.png");
  display: block;
}

.bground4 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/cristianMarriaga.png");
  display: block;
}

.bground5 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/martinGutierrez.png");
  display: block;
}

.bground6 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/darwinMastrodomenico.png");
  display: block;
}

.bground7 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/emmanuelRangel.png");
  display: block;
}

.bground8 {
  margin: auto;
  background-color: #1cbcaa;
  width: 350px;
  height: 345px;
  background-repeat: no-repeat;
  background-image: url("./img/cristianAnaya.png");
  display: block;
}

.btn-primary {
  background-color: #1cbcaa !important;
  padding: 10px;
  border: 1px solid #1aac9a;
}

.btn-primary:hover {
  border: 1px solid #1aac9a;
}
.carousel-indicators .active {
  background-color: #575757;
}
.carousel-indicators li {
  background-color: #000;
}
.carousel-indicators {
  top: 120%;
}

footer {
  margin-bottom: 20px;
}
.nav > li > a {
  padding: 5px 10px !important;
}

.menu-foot li a {
  color: white !important;
}

@media (min-width: 1200px) and (max-width: 1850px) {
  .navbar-nav {
    margin-right: 23px !important;
  }
  .btn-leer-mas {
    background-color: #0ed06d;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    font-weight: bold;
    float: left;
  }
}

@media (min-width: 1490px) and (max-width: 1690px) {
  .btn-leer-mas {
    background-color: #0ed06d;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    font-weight: bold;
    float: left;
  }
  /*Como Funciona*/
  .lawyersfreelance {
    background-size: 100% 100%;
  }
  .navbar-default {
    max-width: 98%;
    margin: 0 auto;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav {
    margin-right: 0;
  }
}
/*Laptop*/
@media (min-width: 992px) and (max-width: 1200px) {
  .btn-leer-mas {
    background-color: #0ed06d;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    font-weight: bold;
    float: left;
  }
  /*General*/
  .btn {
    font-size: 23px;
  }
  /* TYPOGRAPHY*/
  h1,
  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }
  .main-info {
    font-size: 20px;
    margin-right: 0;
  }
  /*Header*/
  .navbar-default {
    max-width: 98%;
    margin: 0 auto;
  }
  /*Menu*/
  nav .navbar-nav li {
    margin-left: 0;
  }

  .navbar-nav li a {
    padding: 7px 15px 8px 15px;
  }

  #ContentCarpeta .btn {
    padding: 0 12px 2px 12px;
    margin: 0;
  }
  .navbar-nav {
    margin-right: 0;
  }
}
@media screen and (max-width: 1040px) {
  .btn-leer-mas {
    background-color: #0ed06d;
    color: white;
    font-size: 12px;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    font-weight: bold;
    float: left;
  }
  .row-people {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .semi-circulo-2 {
    width: 800px;
    margin: 0 auto;
  }
  .visionpp {
    background-image: none;
  }
}
/*Table*/
@media (min-width: 768px) and (max-width: 992px) {
  /*General*/
  .btn {
    font-size: 16px;
  }
  .main-info {
    font-size: 20px;
    margin-right: 0;
  }
  /* TYPOGRAPHY*/
  body {
    font-size: 14px;
  }

  h1,
  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }
  /*Header*/

  /*Menu*/
  .navbar-nav li a {
    font-size: 13.2px !important;
    padding: 7px 12px 8px 12px;
  }

  nav .navbar-nav li {
    margin-left: 0;
  }

  .navbar-nav li a.active {
    border-radius: 12px;
  }

  .navbar-default {
    max-width: 98%;
    margin: 0 auto;
  }
  .textslides p {
    font-size: 16px;
  }
  #carouselhome article {
    padding: 555px 0 0 0;
  }
}
/*Big Mobil until down*/
@media (max-width: 767px) {
  .head-h1 {
    padding-top: 12%;
    font-size: 50px;
    font-weight: bold;
  }
  .visionpp {
    background-image: url("img/man-smart.png");
  }
  .main-info {
    font-size: 20px;
    margin-right: 0;
  }
  /*General*/
  .btn {
    font-size: 12px;
    padding: 8px 18px 9px 18px;
  }
  /* TYPOGRAPHY*/
  body {
    font-size: 12px;
  }

  h1,
  h2 {
    font-size: 25px !important;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 25px !important;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h6 {
    font-size: 18px;
  }
  /*Header*/

  .headersocial,
  .headerlinks {
    display: none;
  }
  /*Menu*/
  .navbar {
    min-height: 53px;
  }

  .navbar-brand {
    display: block !important;
    float: none;
    height: 64px;
  }

  .navbar-brand {
    padding-left: 20px !important;
  }

  .navbar-default {
    padding-right: 0;
    max-width: 98%;
  }
  .navbar-default {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a {
    color: #373956 !important;
  }

  .navbar-default .navbar-collapse {
    background-color: #f7f7f7;
  }

  .textslides p {
    font-size: 16px;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .navbar-nav.pull-right {
    float: none !important;
    padding-left: 10px;
  }
  .navbar-toggle .icon-bar {
    width: 25px;
    height: 4px;
  }

  .semi-circulo-2 {
    width: auto !important;
    left: auto !important;
    height: auto !important;
  }
  .content.visionpp {
    padding: 550px 0 0 30px !important;
  }
  .data {
    margin-top: 0;
  }
  .text-p {
    font-size: 16px !important;
  }

  .footerbot {
    margin-top: 0 !important;
  }

  .portada {
    background-position: unset !important;
  }
  .foot {
    padding-top: 20px;
  }
  .logo-foot {
    margin-top: 60px !important;
    text-align: center !important;
  }
  .menu-foot {
    margin: 0 auto !important;
  }

  .menu-foot li {
    display: block !important;
    margin-bottom: 5px !important;
  }
  div.col-md-7.text-right {
    text-align: center !important;
  }
  .head-h1 {
    color: #ffffff;
  }
  .textslides p {
    color: #ffffff;
  }
  #carouselhome article {
    padding: 555px 0 0 0;
  }
  #carouselhome article .head-h1,
  #carouselhome article p {
    color: #373956;
  }
  #carouselhome .item {
    background-size: 1200px 800px;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .hidesm {
    display: none !important;
  }
}
/*Small Mobil*/
@media (max-width: 360px) {
  .main-info {
    font-size: 20px;
    margin-right: 0;
  }
  .semi-circulo-2 {
    width: 1050px;
    height: 1100px;
    background: #f4f9fc;
    border-radius: 2000px 2000px 2000px 2000px;
    margin: 1px 5%;
  }
}
